It has been gived to us the **general** price for E10 and SP98
- E10 is sold for 1,38€/liter
- SP98 is sold for 1,46€

However, as we want to do a real comparison and get to know which one do we should use, could be interesting know the **current price of each one in Spain.**

In [54]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import urlopen
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [25]:
def gasoil(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content,"html.parser")
    scrap = soup.find_all("table", {'class':'panel tabla_precio_hoy' })
    price = [s.getText().split() for s in scrap]
    # getting the mean, min and max prices for this gasoil
    medio = price[0][3]
    minimo = price[0][4]
    maximo = price[0][5]

    return list((re.findall('\d+\.\d+', medio), re.findall('\d+\.\d+', minimo), re.findall('\d+\.\d+', maximo)))

## Prices for SP98

In [27]:
SP98 = gasoil(url = 'https://www.clickgasoil.com/c/precio-gasolina-98')
print('Mean price today is', SP98[0])
print('Min price today is', SP98[1])
print('Max price today is', SP98[2])

Mean price today is ['1.537']
Min price today is ['1.188']
Max price today is ['1.643']

## Prices for E10

In [28]:
E10 = gasoil(url = 'https://www.clickgasoil.com/c/precio-gasolina-95')
print('Mean price today is', E10[0])
print('Min price today is', E10[1])
print('Max price today is', E10[2])

Mean price today is ['1.378']
Min price today is ['1.081']
Max price today is ['1.49']

# Comparative of consume and current prices

In [29]:
df = pd.read_csv('df_clean.csv')
means = df.groupby('gas_type').mean()

In [44]:
mean_E10 = round((means.consume[0])*float(E10[0][0]),2)
min_E10 = round((means.consume[0])*float(E10[1][0]),2)
max_E10 = round((means.consume[0])*float(E10[2][0]),2)
mean_SP98 = round((means.consume[0])*float(SP98[0][0]),2)
min_SP98 = round((means.consume[0])*float(SP98[1][0]),2)
max_SP98 = round((means.consume[0])*float(SP98[2][0]),2)

In [45]:
print('Mean consume with E10 price today is', mean_E10)
print('Min  consume with E10 price today is', min_E10)
print('Max  consume with E10 price today is', max_E10)
print('Mean consume with SP98 price today is', mean_SP98)
print('Min  consume with SP98 price today is', min_SP98)
print('Max  consume with SP98 price today is', max_SP98)

Mean consume with E10 price today is 6.8
Min  consume with E10 price today is 5.33
Max  consume with E10 price today is 7.35
Mean consume with SP98 price today is 7.58
Min  consume with SP98 price today is 5.86
Max  consume with SP98 price today is 8.1

In [55]:
details = {
    'gas type': ['E10', 'SP98'],
    'min': [min_E10, min_SP98],
    'mean': [mean_E10, mean_SP98],
    'max': [max_E10, max_SP98]
}

In [70]:
gas = pd.DataFrame(details)
gas

  gas type   min  mean   max
0      E10  5.33  6.80  7.35
1     SP98  5.86  7.58  8.10

In [80]:
dif_min = round((min_SP98/min_E10)-1, 2)
dif_mean = round((mean_SP98/mean_E10)-1, 2)
dif_max = round((max_SP98/max_E10)-1, 2)
print(dif_min, dif_mean, dif_max)

0.1 0.11 0.1

# In all cases price/consume of E10 is lower.
# SP98 increases price in, at least, a 10% respect to the E10
# We recomend to use E10